<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if sale.image %>
      <div>
        <%= image_tag sale.image.variant(resize_to_limit: [600,600]) %>
      </div>
    <% end %>
    <span class="user"><%= link_to "Contato com proprietário: #{sale.user.name}", users_path %></span>
    <br>
      <%= link_to "Editar anúncio", edit_sale_path(sale)  %>
    <h2><%= sale.titulo %></h2>
    <span class="timestamp">
      Postado <%= time_ago_in_words(sale.created_at) %> atrás. Valor <%= sale.valor %>
    </span>
    <p><%= sale.descricao  %></p>
    <p><%= sale.historia %></p>
  </div>
</div>
